/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}


.content{
    padding: 60px;
    margin: 0 auto;
}


.col{
    justify-content: center;
    gap: 10px;
}

img{
    max-width: 100%;
}

/* MAIN */

.user-photo{
    position: relative;
}

.user-name{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #4a4a4a;
    color: white;

}

/* TOOLBAR */

.toolbar{
    background-color: #222222;
    height: 100px;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.left-toolbar{
    align-items: center;
}

.left-toolbar div{
    margin: 8px;
}

.middle-toolbar div{
    margin-left: 8px;
}

.middle-toolbar{
    align-items: center;
}

.right-toolbar{
    align-items: center;
    color: red;
    background-color: #4a4a4a;
}
    
#share-button{
    color: green;
}