/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: sans-serif;
    font-size: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}



/* HEADER */
header{
    height: 60px;
    background-color: black;
    color: white;
    padding: 5px;
}

.icons{
    justify-content: flex-end;
}

.icons div{
    background-color: #4a4a4a;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

/* MAIN */
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: auto;
}


.content{
    margin: 0 auto;
    height: calc(100% - 100px - 60px);
    overflow: auto;
}


.col{
    justify-content: center;
    gap: 10px;
}

.user-photo{
    position: relative;
}

.user-name{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #4a4a4a3d;
    color: white;

}

/* TOOLBAR */

.toolbar{
    background-color: #222222;
    height: 100px;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.toolbar i{
    font-size: 1.5em;
}

.left-toolbar{
    align-items: center;
}

.left-toolbar div{
    margin: 8px;
}

.middle-toolbar div{
    margin-left: 15px;
    
}


.middle-toolbar{
    align-items: center;
}

.right-toolbar{
    align-items: center;
    color: red;
    background-color: #4a4a4a;
}
    
#share-button{
    color: green;
}