/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}


.container{
    width: 100%;
}


.content{
    padding: 20px;
}

.col{
    gap: 10px;
}

/* MAIN */

.user{
    position: relative;

    /* DEBUG */
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

.user-name{
    position: absolute;
    bottom: 20px;
    left: 0;

    /* DEBUG */
    border: 1px solid green;
    width: 80px;
    height: 30px;
}

/* TOOLBAR */

.toolbar{
    background-color: #222222;
    height: 100px;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.left-toolbar{
    align-items: center;
}

.left-toolbar div{
    margin: 8px;
}

.middle-toolbar div{
    margin-left: 8px;
}

.middle-toolbar{
    align-items: center;
   

}

.right-toolbar{
    align-items: center;
    color: red;
    background-color: #4a4a4a;
}
    